<!DOCTYPE html>
<html lang="en">
<head>
    <style>
.story-wrapper {
  position: relative;
  margin-bottom: 0;
  border-bottom: solid #222222 8px;
  padding: 35px 45px;
}

.story {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.story-reverse {
  display: flex;
  flex-direction: row-reverse;
  max-width: 1400px;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}

.story-text {
  width: 52%;
  height: 100%;
  padding: 0 3rem 0 0;
}

.story-text-reverse {
  width: 52%;
  height: 100%;
  padding: 0 0 3rem 0;
}

.story-title {
  margin: 0 0 8px;
  font-size: 50px;
  line-height: 1.1;
}

.story-subtitle {
  margin: 20px 0 6.5px;
  font-size: 26px;
  font-weight: 400;
}

.story-img-container {
  width: 48%;
  height: 100%;
  display: flex;
  box-sizing: border-box;
}

.story-img {
  position: relative;
}


    </style>
</head>
<body>
<section class="story-wrapper">
        <div class="story">
          <div class="story-text">
            <h1 class="story-title">Enjoy on your TV.</h1>
            <h2 class="story-subtitle">
              Watch on Smart TVs, Playstation, Xbox, Chromecast, Apple TV, Blu-ray
              players, and more.
            </h2>
          </div>
          <div class="story-img-container">
            <img
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png"
              alt="TV"
              class="story-img"
            />
          </div>
        </div>
      </section>
  
      <section class="story-wrapper">
        <div class="story-reverse">
          <div class="story-text-reverse">
            <h1 class="story-title">Download your shows to watch offline.</h1>
            <h2 class="story-subtitle">
              Save your favorites easily and always have something to watch.
            </h2>
          </div>
          <div class="story-img-container">
            <img
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg"
              alt="TV"
              class="story-img"
            />
          </div>
        </div>
      </section>
  
      <section class="story-wrapper">
        <div class="story">
          <div class="story-text">
            <h1 class="story-title">Watch everywhere.</h1>
            <h2 class="story-subtitle">
              Stream unlimited movies and TV shows on your phone, tablet, laptop,
              and TV without paying more.
            </h2>
          </div>
          <div class="story-img-container">
            <img
              src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png"
              alt="TV"
              class="story-img"
            />
          </div>
        </div>
      </section>
</body>
</html>