<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  <style>
    .footer {
	max-width: 70%;
	margin: 1rem auto;
	overflow: auto;
}

.footer,
.footer a {
	color: #999;
	font-size: 0.9rem;
}

.footer p {
	margin-bottom: 1.5rem;
}

.footer .footer-cols {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 2rem;
}

.footer li {
	line-height: 1.9;
}

.footer .lang-select {
	margin-top: 2rem;
	color: #999;
	background-color: #000;
	background-image: none;
	border: 1px solid #333;
	padding: 1rem 1.2rem;
	border-radius: 5px;
}

/* Container */
.container {
	max-width: 70%;
	margin: auto;
	overflow: hidden;
	padding: 0 2rem;
}

/* Text Styles */
.text-xl {
	font-size: 2rem;
}

.text-lg {
	font-size: 1.8rem;
	margin-bottom: 1rem;
}

.text-md {
	margin-bottom: 1.5rem;
	font-size: 1.2rem;
}

.text-center {
	text-align: center;
}

.text-dark {
	color: #999;
}

/* Buttons */
.btn {
	display: inline-block;
	background: var(--primary-color);
	color: #fff;
	padding: 0.4rem 1.3rem;
	font-size: 1rem;
	text-align: center;
	border: none;
	cursor: pointer;
	margin-right: 0.5rem;
	transition: opacity 0.2s ease-in;
	outline: none;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
	border-radius: 2px;
}

.btn:hover {
	opacity: 0.9;
}

.btn-rounded {
	border-radius: 5px;
}

.btn-xl {
	font-size: 2rem;
	padding: 1.5rem 2.1rem;
	text-transform: uppercase;
}

.btn-lg {
	font-size: 1rem;
	padding: 0.8rem 1.3rem;
	text-transform: uppercase;
}

.btn-icon {
	margin-left: 1rem;
}

@media (max-width: 960px) {

		.showcase {
		height: 70vh;
	}

	.hide-sm {
		display: none;
	}

	.showcase-top img {
		top: 30%;
		left: 5%;
		transform: translate(0);
	}

	.showcase-content h1 {
		font-size: 3.7rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1.5rem;
	}

	.footer .footer-cols {
		grid-template-columns: repeat(2, 1fr);
	}

	.btn-xl {
		font-size: 1.5rem;
		padding: 1.4rem 2rem;
		text-transform: uppercase;
	}

	.text-xl {
		font-size: 1.5rem;
	}

	.text-lg {
		font-size: 1.3rem;
		margin-bottom: 1rem;
	}

	.text-md {
		margin-bottom: 1rem;
		font-size: 1.2rem;
	}
}

@media (max-width: 700px) {
	.showcase::after {
		background: rgba(0, 0, 0, 0.6);
		box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
	}

	.showcase-content h1 {
		font-size: 2.5rem;
		line-height: 1;
	}

	.showcase-content p {
		font-size: 1rem;
	}

	#tab-1-content .tab-1-content-inner {
		grid-template-columns: 1fr;
		text-align: center;
	}

	#tab-2-content .tab-2-content-top {
		display: block;
		text-align: center;
	}

	#tab-2-content .tab-2-content-bottom {
		margin-top: 2rem;
		display: grid;
		grid-template-columns: 1fr;
		grid-gap: 2rem;
		text-align: center;
	}

	.btn-xl {
		font-size: 1rem;
		padding: 1.2rem 1.6rem;
		text-transform: uppercase;
	}
	.email-form {
  display: flex;
  flex-direction: column;
  padding: 13.6px 0 0;
}

.email-form-title {
  margin: 0 auto;
  padding: 0 5% 20px;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
}

.email-form-input {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.email-form-text {
  min-width: 450px;
  height: 60px;
  margin-bottom: 10px;
  border-color: #8c8c8c;
  border-radius: 2px 0px 0px 2px;
  border-style: solid;
  border-width: 1px;
  padding: 10px 10px;
  font-size: 16px;
  cursor: text;
}

.email-form-btn {
  display: inline-flex;
  background-color: #f40612;
  color: #ffffff;
  margin-bottom: 10px;
  border: none;
  border-radius: 0 2px 2px 0;
  padding: 0 26px;
  font-size: 26px;
  letter-spacing: 0.1px;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
}

@media(max-height: 600px) {
  .showcase-content {
	margin-top: 3rem;
}
}
  </style>
</head>
<body style="background-color: black;">

<div class="container mt-5 ">
  <h2 style="text-align:center;color:white">Frequently Asked Questions</h2>
  <div id="accordion">
    <div class="card text-light" style="font-size:x-large;background-color:#333">
      <div class="card-header">
        <a class="btn text-light" data-bs-toggle="collapse" style="font-size:x-large" href="#collapseOne">
          What is Netflix?
        </a>
      </div>
      <div id="collapseOne" class="collapse show" data-bs-parent="#accordion">
        <div class="card-body">
          Netflix is a streaming service that offers a wide variety of award-winning TV shows, movies, anime, 
          documentaries and more-on thousands of internet-connected devices. <br>

          You can watch as much as you want, whenever you want, without a single ad-all for one low monthly price. 
          There's always something new to discover, and new TV shows and movies are added every week!
        </div>
      </div>
    </div>
    <div class="card text-light" style="font-size:x-large;background-color:#333">
      <div class="card-header">
        <a class="collapsed btn text-light" data-bs-toggle="collapse" style="font-size:x-large" href="#collapseTwo">
        How much does Netflix cost?
      </a>
      </div>
      <div id="collapseTwo" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
    Watch Netflix on your smartphone, tablet, Smart TV, laptop, or streaming device, all for one fixed monthly fee.
    <br> Plans range from ₹ 149 to ₹ 649 a month. No extra costs, no contracts.        </div>
      </div>
    </div>
    <div class="card text-light" style="font-size:x-large;background-color:#333">
      <div class="card-header">
        <a class="collapsed btn text-light" data-bs-toggle="collapse" style="font-size:x-large" href="#collapseThree">
          Where can I watch?
        </a>
      </div>
      <div id="collapseThree" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
          Watch anywhere, anytime. Sign in with your Netflix account to watch instantly on the web at netflix.com from your 
          personal computer or on any internet-connected device that offers the Netflix app, including smart TVs, smartphones,
          tablets, streaming media players and game consoles. <br>
          You can also download your favourite shows with the iOS, Android, or Windows 10 app. Use downloads to watch while you're 
          on the go and without an internet connection. Take Netflix with you anywhere.
        </div>
      </div>
    </div>
     <div class="card text-light" style="font-size:x-large;background-color:#333">
      <div class="card-header">
        <a class="collapsed btn text-light" data-bs-toggle="collapse" style="font-size:x-large" href="#collapsefour">
          How do i cancel?
        </a>
      </div>
      <div id="collapsefour" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
        Netflix is flexible. There are no annoying contracts and no commitments. You can easily cancel your account online in 
        two clicks. There are no cancellation fees start or stop your account anytime.  
        </div>
      </div>
    </div>
     <div class="card text-light" style="font-size:x-large;background-color:#333">
      <div class="card-header">
        <a class="collapsed btn text-light" data-bs-toggle="collapse" style="font-size:x-large" href="#collapsefive">
          What can I watch on Netflix?
        </a>
      </div>
      <div id="collapsefive" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
          Netflix has an extensive library of feature films, documentaries, TV shows, anime, award-winning Netflix originals, 
          and more. Watch as much as you want, anytime you want.
        </div>
      </div>
    </div>
         <div class="card text-light" style="font-size:x-large;background-color:#333">
      <div class="card-header">
        <a class="collapsed btn text-light" data-bs-toggle="collapse" style="font-size:x-large" href="#collapsesix">
          Is Netflix good for kids?
        </a>
      </div>
      <div id="collapsesix" class="collapse" data-bs-parent="#accordion">
        <div class="card-body">
        The Netflix Kids experience is included in your membership to give parents control while kids enjoy family-friendly TV shows 
        and films in their own space.

        Kids profiles come with PIN-protected parental controls that let you restrict the maturity rating of content kids can watch 
        and block specific titles you don't want kids to see.        
        </div>
      </div>
    </div>
  </div>
  <h4 style="color:white;margin-left: 156px">Ready to watch? Enter your email to create or restart your membership.</h4>
  <div class="email-form-input">
                <input
                  type="email"
                  placeholder="Email address"
                  required
                  class="email-form-text"
				  style="margin-left: 196px;"
                />
                <button type="submit" class="email-form-btn">
                  <a href="./register.hbs" style="color:white;text-decoration:none" class="btn-text">
                    Get started
                    <i class="fa-duotone fa-chevron-right"></i>
                  </a>
                </button>
              </div>
</div>
    <hr style="border: solid black 8px;">
     <footer class="footer">
			<p>Questions? Call 1-866-579-7172</p>
			<div class="footer-cols">
				<ul>
					<li><a href="#">FAQ</a></li>
					<li><a href="#">Investor Relations</a></li>
					<li><a href="#">Ways To Watch</a></li>
					<li><a href="#">Corporate Information</a></li>
					<li><a href="#">Netflix Originals</a></li>
				</ul>
				<ul>
					<li><a href="#">Help Center</a></li>
					<li><a href="#">Jobs</a></li>
					<li><a href="#">Terms Of Use</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
				<ul>
					<li><a href="#">Account</a></li>
					<li><a href="#">Redeem Gift Cards</a></li>
					<li><a href="#">Privacy</a></li>
					<li><a href="#">Speed Test</a></li>
				</ul>
				<ul>
					<li><a href="#">Media Center</a></li>
					<li><a href="#">Buy Gift Cards</a></li>
					<li><a href="#">Cookie Preferences</a></li>
					<li><a href="#">Legal Notices</a></li>
				</ul>
			</div>
		</footer>
		<span style="background-image:
		 linear-gradient(60deg,orangered,blue,yellow);
		 color:White;
		 float:right">Made by LuCiFeRsTaR</span>
</body>
</html>